* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style-type: none;
  background-image: url(zvezda.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  font-size: 20px;
  padding-left: 25px;
}

table {
  border-collapse: collapse;
}

td {
  border: 2px solid black;
}

ol {
  list-style-type: decimal;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #213352;
  font-size: 86px;
  font-family: "Courier New", Courier, monospace;
}

h2:not([class=newh2]) {
  font-size: 72px;
  color: #213352;
  font-family: "Courier New", Courier, monospace;
}

.bel {
  font-family: "Calibri";
  color: #30174a;
  font-size: 32px;
}

p.bel {
  font-weight: bold;
}

.bel span {
  font-style: italic;
}

h3 {
  color: #340736;
  font-family: "Comic Sans MS";
  font-size: 24px;
}

.textabout {
  color: #340736;
  font-family: "Comic Sans MS";
  font-size: 24px;
  font-style: italic;
}

.textabout span {
  font-weight: bold;
}

.newh3 {
  font-family: Arial;
  color: #073620;
  font-size: 18px;
}

.newp {
  font-style: italic;
  font-family: Arial;
  color: #073620;
  font-size: 18px;
}

.newp span {
  font-weight: bold;
}

a[href="gallery.html"] {
  display: inline-block;
  width: 100%;
  text-align: center;
}